<div {{ attributes }}>
    {{ include('components/ServerSearch/location.html.twig') }}
    {{ include('components/ServerSearch/minimum_storage.html.twig') }}
    {{ include('components/ServerSearch/ram.html.twig') }}
    {{ include('components/ServerSearch/storage_type.html.twig') }}
    {{ include('components/ServerSearch/table.html.twig') }}
</div>