<div {{ attributes }}>
    <label>Location Search
        <input
                type="search"
                data-model="query"
        >
    </label>

    <table>
        <tr>
            <th>id</th>
            <th>Model</th>
            <th>RAM</th>
            <th>HDD</th>
            <th>Location</th>
            <th>currency</th>
            <th>Price</th>
        </tr>


        {% for server in this.servers %}
            <tr>
                <td>{{ server.id }}</td>
                <td>{{ server.model }}</td>
                <td>{{ server.ram }}</td>
                <td>{{ server.storage }}</td>
                <td>{{ server.location }}</td>
                <td>{{ server.currency }}</td>
                <td>{{ server.price }}</td>
            </tr>
        {% endfor %}
    </table>

</div>