<div class="row">
    <h2>Server List</h2>

    <table class="table">
        <tr>
            <th>Compare</th>
            <th>Model</th>
            <th>RAM</th>
            <th>HDD</th>
            <th>Location</th>
            <th>Price</th>
        </tr>


        {% for server in this.servers %}
            <tr>
                <td><label>
                        <input type="checkbox" data-model="ids[]" value="{{ server.id }}"> {{ server.id }}
                    </label></td>
                <td>{{ server.model }}</td>
                <td>{{ server.ram }}</td>
                <td>{{ server.storage }}</td>
                <td>{{ server.location }}</td>
                <td>{{ server.currency }} {{ server.price }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
